<h3>Nova categoria</h3>
  <div class="card"></div>
  <div class="card-body">
  <form action="/admin/categorias/nova" method="post">
  <label for="nome">Nome: </label>
      <input type="text" id="nome" name="nome" placeholder="nome da categoria" class="form-control">
<label for="slug">Slug: </label>
     <input type="text" id="slug" name="slug" placeholder="Slug da categoria" class="form-control">
      <br>
      <button type="submit" class="btn btn-success">Crir categorias</button>
</form>
</div>
</div>